{% extends "base.html" %}
{% block titulo %}  Praxthon Amateur 2023 {% endblock %} 
{% block subtitulo %}  Gamificación de avance {% endblock %} 
{% block contenido %}  
    <hr /> 
    <hr /> 

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Praxthon Amateur 2023</h4>
        <h6 class="card-subtitle text-muted">Sea bienvenido a esta aplicación Web!!!</h6>
      </div>
      <img src="holder.js/100x180/" alt="">
      <div class="card-body">
        <p class="card-text">En este sitio, usted puede gestionar el avance de los participantes en el proceso de evaluación del desempeño de una manera f&aacute;cil y divertida</p>
      </div>
    </div>

    <hr /> 
    <hr /> 
{% endblock %}